form{
    background-color: darkgrey;
    width: 50%;
    margin: 0px 25%;
    border-radius: 5px;
    padding: 0px;
}

h1{
    text-align: center;
    color: white;
}

.btnsFaceGoogle{
    text-align: center;
}

.btnsFaceGoogle button{
    border-radius: 10px;
    padding: 4px;
    width: 150px;
}

.o_registrate{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-areas: "nombre apellidos" 
    "correo correo" "contraseña contraseña";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
}

.nombre{
    grid-area: nombre;
    margin-left: 20px;
    margin-right: 10px;
}

.apellidos{
    grid-area: apellidos;
    margin-left: 10px;
    margin-right: 30px;
}

.correo{
    grid-area: correo;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 30px;
}

.contraseña{
    grid-area: contraseña;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
}

.nombre input{
    width: 100%;
    border-radius: 10px;
    padding: 4px;
}

.apellidos input{
    width: 100%;
    border-radius: 10px;
    padding: 4px;
}

.correo input{
    width: 100%;
    border-radius: 10px;
    padding: 4px;
}

.contraseña input{
    width: 100%;
    border-radius: 10px;
    padding: 4px;
}

.terminos_condiciones{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.enviar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.enviar button{
    border-radius: 10px;
    padding: 4px;
    width: 150px;
    margin-bottom: 10px;
}


