main{
    width: 1200px;
    margin: auto;
}

header{
    background-color: chartreuse;
}

nav{
    background-color: green;
    float: left;
    width: 300px;
}

article{
    background-color: grey;
    float: left;
    width: 800px;
}

footer{
    background-color: blue;
    clear: both;
}