main{
    width: 100%;
    margin: auto;
}

header{
    background-color: chartreuse;
}

nav{
    background-color: green;
    float: left;
    width: 30%;
    height: 550px;
    margin-bottom: 10px;
}

article{
    background-color: grey;
    float: left;
    width: 70%;
    height: 550px;
}

footer{
    background-color: blue;
    clear: both;
}